@using Akalat.ViewModel;
@model OrderViewModelGet


<tr id="@Model.orderProductHomes.ProductID">
  
    <th scope="row">@Model.orderProductHomes.ProductID</th>
    <td>@Model.orderProductHomes.ProductName</td>
@*      <td><input asp-for="s" type="number" /></td>
 *@     <td>@Model.</td>
    <td><button>+</button></td>
    <td><button>-</button></td>
    <td>total</td>
    <td>Product Note</td>
    <td onclick="Delete(this,@Model.orderProductHomes.ProductID)"><button>Delete</button></td>
</tr>

